*{
    margin: 0;
    padding: 0;
}

.magic-slider{
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.sl-div{
    position: absolute;
    width: 50%;
    height:  400px;
    overflow: hidden;
    top:0;
    transition: top 0.9s ease-out;
}

.right{
    right: 0;
}

.top-top{
    top: -100%;
}

.top-bottom{
    top: 100%;
}

.top-equal{
    top: 0;
}

.sl-img{
    width: 100vw;
    min-height:  400px;
    height: 0;
}

.right .sl-img{
    position: relative;
    right: 100%;
}

/*design for moves span*/
.control-buttons-cont{
    position: absolute;
    width: 50px;
    z-index: 100;
    top: 50%;
    right: 2%;
    text-align: right;
}

.control-button{
    display: inline-block;
    width: 70%;
    height: 3px;
    background-color: rgba(255,255,255,0.7);
    cursor: pointer;
    transition: all 0.5s ease 0.3s;

}


.push{
    width: 100%;
    background-color: rgba(255,255,255,1);


}
